{% extends "base.html" %}

{% block titre %}Ajout d'un projet{% endblock %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/taskmanager/modify.css' %} ">{% endblock %}

{% block contenu %}
    <h3>Ajout d'un projet</h3>
    <div id="form-cont">
        <form action="{% url "Ajout Projet" %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-holder center"><input class="button" type="submit" value="Ajouter"></div>
        </form>
        <div class="button-holder center"><a href="{% url "Projets" %}" class="link"><button class="button">Retour</button></a></div>
    </div>
{% endblock %}