{% extends "base.html" %}

{% block titre %}Suppression ?{% endblock %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/taskmanager/delete.css' %} ">{% endblock %}

{% block contenu %}
    <h4 id="delete">Vous êtes sur le point de supprimmer le projet {{ project.nom }}</h4>
    <h4 id="sure">Etes-vous sur ?</h4>
    <table id="results">
        <tr>
            <td><a href="{% url "Suppression Definitive Projet" project.id %}"><button class="res">Oui</button></a></td>
        </tr>
        <tr>
            <td><a href="{% url "Projets" %}"><button class="res">Non</button></a></td>
        </tr>
    </table>
{% endblock %}