{% extends "base.html" %}

{% block titre %}Projets{% endblock %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/taskmanager/projets.css' %} ">{% endblock %}

{% block contenu %}
    <ul>
    {% for projet in projets %}
        <a class = "links" href="{% url "Projet" projet.0.id %}">
            <li>
                <table class="projet">
                    <tr>
                        <td>
                            <h3>
                                {% if delete %}
                                    <a href="{% url "Suppression Projet" projet.0.id %}"><img src="{% static "images/del.png" %}" alt="del" width = "18px"/></a>
                                {% endif %}
                                {% if modify %}
                                    <a href="{% url "Modification Projet" projet.0.id %}"><img src="{% static "images/mod.png" %}" alt="mod" width = "18px"/></a>
                                {% endif %}
                                {{ projet.0.nom }}
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>{{ projet.1 }} tache{{ projet.1|pluralize }} listée{{ projet.1|pluralize }} dans ce projet</h5>
                        </td>
                    </tr>
                </table>
            </li>
        </a>
    {% endfor %}
    </ul>
    {% if add %}
        <div class="center">
            <a href="{% url "Ajout Projet" %}"><img src="{% static "images/add.png" %}" alt="add" width = "18px"/></a>
        </div>
    {% endif %}

{% endblock %}