{% extends "base.html" %}

{% block titre %}Tache {{ tache.titre }}{% endblock %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/taskmanager/tache.css' %} ">{% endblock %}

{% block contenu %}
    <h3>
        {% if modify %}
            <a href="{% url "Modification Tache" tache.id %}"><img src="{% static "images/mod.png" %}" alt="mod" width = "18px"/></a>
        {% endif %}
        {{ tache.titre }}
    </h3>
    <table class="content">
        <tr>
            <td colspan="2">
                <h5>{{ tache.description|linebreaks }}</h5>
            </td>
            <td>
                <div class="stat">
                    <h4 class="size-stat" style="background-color:{{ tache.status.couleur }};" >{{ tache.status }}</h4>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p>Commence le {{ tache.start }}</p>
            </td>
            <td>
                <p>Finit le {{ tache.end }}</p>
            </td>
            <td>
                <p>Priorité : {{ tache.priority }}</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h5>Projet : {{ tache.projet }}</h5>
            </td>
            <td>
                <p>Assigné à : {{ tache.assigned }}</p>
            </td>
        </tr>
    </table>
    {% if view_comments %}
        <h4 id="subtitle">Commentaires</h4>
        <ul id="comments">
            {% for comm in commentaires %}
                <li>
                    <table>
                        <tr>
                            <td>
                                <p class="comm-header">
                                    {% if delete_comment %}
                                        <a href="{% url "Suppression Commentaire" comm.id %}"><img src="{% static "images/del.png" %}" alt="del" width = "18px"/></a>
                                    {% endif %}
                                    {% if modify_comment %}
                                        <a href="{% url "Modification Commentaire" comm.id %}"><img src="{% static "images/mod.png" %}" alt="mod" width = "18px"/></a>
                                    {% endif %}
                                    par {{ comm.user }} le {{ comm.date }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="comm">{{ comm.texte }}</p>
                            </td>
                        </tr>
                    </table>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h4 id="subtitle">Commentaires non visibles</h4>
    {% endif %}
    {% if add_comment %}
        <form action="{% url "Ajout Commentaire" tache.id %}" method="post">
            {% csrf_token %}
            <table id="new-comment">
                <tr>
                    <td>
                        <textarea id="text" name="text"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="centered-cell">
                        <input type="submit" value="Envoyer" id="send-comm">
                    </td>
                </tr>
            </table>
        </form>
    {% endif %}
    <a id="ret" href="{% url "Projet" tache.projet.id %}"><p>Retour</p></a>
{% endblock %}