p {
    text-align: left;
    font-size: 100%;
}

textarea {
    width: 100%;
}

input {
    width: 100%;
}

#form-cont {
    width: 70%;
    margin: 40px auto;
}

.link {
    width: 100%;
}

.button-holder {
    width: 200px;
}

.button {
    font-size: 150%;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: transparent;
    border: solid 3px #396d79;
    margin: 10px auto;
    width: 100%;
}

.button:hover {
    color: black;
    background-color: #d0d8e7;
}