ul {
    padding:0px;
    list-style: none;
}

.projet {
    width: 75%;
    margin: 40px auto;
    border: solid 3px #396d79;
}

.projet:hover {
    background-color: #d0d8e7;
}

h3 {
    width: 90%;
    margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

.center-pin {
    margin: auto;
    text-align: center;
}